body{
    margin: 1.5em;
    font-family: 'poppins',sans-serif ;
    background: wheat;
   
}

a{
    text-decoration: none;
}

.logo{
    font-size: 1.9rem;
    font-weight: bold;
    color: black;
}


.hero-img{
    background: url('../images/freedom.jpg');
    position: absolute;
    height: 90vh;
    width: 100%;
    background-size: cover;
    top: 0;
    right: 0;
    z-index: -2;
    background-position-x: -25px;
    border-bottom: 3px solid black ;
}

header{
    display: flex;
    justify-content: space-between;
    background: rgba(0, 255, 255, 0.856);
    padding: .9em 1em;
    border-radius: 1em;
    border-left: 1.8px solid white ;
    border-bottom: 1.8px solid white;
    

    .menu{
        fill: white;
        width: 2em;
        top: 0;
        cursor: pointer;
        
    }

    .close{
        color:black;
        width: 2.2em;
        cursor: pointer;
    }
}

nav{
    background: white;
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: 40%;
    z-index: 2;
    background-image: linear-gradient(to right bottom,#8846a5, rgb(38, 153, 199));
    transform: translateX(100%);
    transition: .6s ease-in-out;

    ul{
        list-style: none;
        padding: 0;
        margin-top: 70px;
      
        a{
            text-transform: uppercase;
            color: black;
            display: block;
            padding: .5em 1em;
            font-size: 1.2em;

            &:hover{
                background: grey;
            }
        }
    }

    .close{
        float: right;
        margin: 1.5em 1.5em;
    }

}

section.hero{
    margin: auto auto;
    width: 70%;
    background: white;
    margin-top: 30px;
    border-radius: 1em;
    padding: .1em 1em;
    opacity: .8;
    border-left: 3px solid #9400D3 ;
    border-bottom: 3px solid #9400D3 ;
    transition: transform 1s;

   

    h1{
        color: black;
    }

    p{
        font-size: 1.1rem;
        font-family:  Helvetica;
    }
}
.arrow{
    margin-top: 60px;
    color: white;
    width: 2em;
    animation: moveArrow 1s alternate-reverse infinite;
}

section.info{
    background: white;
    padding: .5em 1em;
    border-radius: .7em;
    border-left: 3px solid black ;
    margin-top: 40px;
    opacity: 1;
    background: wheat;

    span{
        color: black;
    }

    p{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color:black;
    }
}

.home{
    font-size: 2rem;
    color: black;
    font-weight: bold;
    right: 0;
}

/* MicroInteractions */
.open-nav{
    transform: translateX(0%);
}

section.hero:hover{
    transform: translateY(-20px);
}

@keyframes moveArrow{
    from{
        transform: translateY(-30px);
    }
    to{
        transform: translateY(0%);
    }
}

/* Media Queries */
@media screen and  (min-width: 680px){
    .wrapper{
        margin: auto 1em;
    }

    .arrow{
        margin-top: 150px;
    }

 
   .hero-img{
    background-position-y: -100px;
   }
   section.info{
    margin-top: 0px;
}
}

@media screen and (min-width:920px){

    .wrapper{
        margin: auto 4em;
    }
    .menu{
        display: none;
    }


    nav{
        position: unset;
        transform: translateX(0%);
        display: block;
        width: auto;
        height: auto;
        background: none;

        ul{
            display: flex;
            margin: auto;

            a{
                font-size: 1.2rem;
                color: white;
                &:hover{
                    background: none;
                    text-decoration: underline;
                    color: black;
                }
            }
        }
        .close{
            display: none;
        }

    }
    .hero-img{
        background-position-y: -330px;
    }
    
}


@media only screen and (min-width:1150px){
    .wrapper{
      //  width: 1200px;
      margin: auto 4em ;
    }

    .hero-img{
        background-position-y: -430px;
    }

    section.hero{
        width: 40%;
    }


}
